services:
  corplink:
    image: corplink
    build: .
    container_name: corplink
    hostname: corplink
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ${CONFIG_ROOT}:/config
      - /var/log/corplink:/var/log/corplink
    tmpfs:
      - /tmp
    networks:
      default:
        ipv4_address: ${IPV4_ADDRESS}
    devices:
      - /dev/net/tun
    cap_add:
      - CAP_NET_ADMIN

networks:
  default:
    name: ${NETWORK_NAME}
    external: true
